$mobile_size: 20;

$white: #FFFFFF;

$yellow: (
    1: #E4BD58,
    2: #E4BD581A
);

$purple: (
    1: #7F3E9F,
    2: #6A2F88,
    3: #B068D3
);

$red: (
    1: #E75353,
    2: #BD4143,
    3: #E753531A,
);

$green: (
    1: #3FB1A6,
    2: #348B82,
    3: #3FB1A61A
);

$gray: (
    1: #1C1B2E,
    2: #2A293B,
    3: #7B7787,
    4: #2A293B,
    5: #4A465A,
    6: #605F6D,
    7: #232234,
    8: #373647,
    9: #181727,
    10: #ADA7B4
);
