<section class="footer">
    <div class="footer__links">
        <a href="https://twitter.com/lovelacemaas" target="_blank">
            <mat-icon svgIcon="twitter"></mat-icon>
        </a>
        <a href="https://lovelacemaas.medium.com/" target="_blank">
            <mat-icon svgIcon="medium"></mat-icon>
        </a>
        <a href="https://t.me/lovelaceofficial" target="_blank">
            <mat-icon svgIcon="telegram"></mat-icon>
        </a>
        <a href="https://discord.com/invite/6w49dSAd5M" target="_blank">
            <mat-icon svgIcon="discord"></mat-icon>
        </a>
    </div>
    <div class="footer__contacts">
        <a href="https://www.lovelace.world/" target="_blank">lovelace.world</a>
        <span>&bull;</span>
        <a href="contact@lovelace.world" class="no-color">contact@lovelace.world</a>
    </div>
</section>
